<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>checkdigit</key>
			<true/>
			<key>length</key>
			<array>
				<integer>16</integer>
			</array>
			<key>prefixes</key>
			<array>
				<string>6011</string>
				<string>622</string>
				<string>64</string>
				<string>65</string>
			</array>
			<key>type</key>
			<string>DISCOVER</string>
		</dict>
		<dict>
			<key>checkdigit</key>
			<true/>
			<key>length</key>
			<array>
				<integer>13</integer>
				<integer>16</integer>
			</array>
			<key>prefixes</key>
			<array>
				<string>4</string>
			</array>
			<key>type</key>
			<string>VISA</string>
		</dict>
		<dict>
			<key>checkdigit</key>
			<true/>
			<key>length</key>
			<array>
				<integer>16</integer>
			</array>
			<key>prefixes</key>
			<array>
				<string>51</string>
				<string>52</string>
				<string>53</string>
				<string>54</string>
				<string>55</string>
			</array>
			<key>type</key>
			<string>MASTERCARD</string>
		</dict>
		<dict>
			<key>checkdigit</key>
			<true/>
			<key>length</key>
			<array>
				<integer>15</integer>
			</array>
			<key>prefixes</key>
			<array>
				<string>34</string>
				<string>37</string>
			</array>
			<key>type</key>
			<string>AMEX</string>
		</dict>
		<dict>
			<key>checkdigit</key>
			<true/>
			<key>length</key>
			<array>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>18</integer>
				<integer>19</integer>
			</array>
			<key>prefixes</key>
			<array>
				<string>5018</string>
				<string>5020</string>
				<string>5038</string>
				<string>6304</string>
				<string>6759</string>
				<string>6761</string>
			</array>
			<key>type</key>
			<string>MAESTRO</string>
		</dict>
	</array>
</dict>
</plist>
