<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATG_CHARACTER_ENCODING</key>
	<string>UTF-8</string>
	<key>ATG_CONTACT_US_EMAIL</key>
	<string>example@atg.com</string>
	<key>ATG_CONTACT_US_PHONE</key>
	<string>+1-555-123-1234</string>
	<key>ATG_RECOMMENDATIONS_RETAILER_ID</key>
	<string>8b5c2a3d</string>
	<key>ATG_RECOMMENDATIONS_URL</key>
	<string>http://recs.atgsvcs.com</string>
	<key>ATG_RECOMMENDATIONS_URL_PATH_PREFIX</key>
	<string>pr</string>
	<key>ATG_RECOMMENDATIONS_VERSION</key>
	<string>3.0</string>
	<key>ATG_REST_SERVER_HOST</key>
	<string>localhost</string>
	<key>ATG_REST_SERVER_PORT</key>
	<integer>7003</integer>
	<key>ATG_SITE_ID</key>
	<string>mobileStoreSiteUS</string>
	<key>ATG_SLIDER_IMAGE_HEIGTH</key>
	<integer>60</integer>
	<key>ATG_SLIDER_IMAGE_WIDTH</key>
	<integer>80</integer>
	<key>ATG_TARGETING_PATH</key>
	<string>atg/registry/RepositoryTargeters/ProductCatalog/MobilePromotionChild</string>
	<key>ATG_USE_HTTPS</key>
	<false/>
	<key>ENDECA_CONTEXT_PATH</key>
	<string>/crs/mobile/storeus</string>
	<key>ATG_RESOURCE_BUNDLES</key>
	<array>
		<string>ATGMobileClientResources</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MobileStore</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.oraclecorp.internal.ent2.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${BUILD_NUMBER}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>MobileCommerce_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MobileCommerce_iPad</string>
	<key>UIMainStoryboardFile~iphone</key>
	<string>MobileCommerce_iPhone</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
